<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.CourseContentMapper">

    <!-- 一对多配置,一个章节下有多个课时 -->
    <resultMap id="BaseResultMap" type="com.lagou.entity.CourseSection">
        <id property="id" column="id"></id>
        <result property="courseId" column="course_id"></result>
        <result property="sectionName" column="section_name"></result>
        <result property="description" column="description"></result>
        <result property="orderNum" column="order_num"></result>
        <result property="status" column="status"></result>
        <!-- 使用 collection,配置一对多关系 -->
        <collection property="lessonList" resultMap="lessionListResultMap"/>
    </resultMap>
    <resultMap id="lessionListResultMap" type="com.lagou.entity.CourseLesson">
        <id property="id" column="lessonId"></id>
        <result property="courseId" column="course_id"></result>
        <result property="sectionId" column="section_id"></result>
        <result property="theme" column="theme"></result>
        <result property="duration" column="duration"></result>
        <result property="isFree" column="is_free"></result>
        <result property="orderNum" column="order_num"></result>
        <result property="status" column="lesson_status"></result>
    </resultMap>
    <!--创建 章节信息-->
    <update id="saveSection" parameterType="com.lagou.entity.CourseSection">
        INSERT INTO course_section(
            course_id,
            section_name,
            description,
            order_num,
            STATUS,
            create_time,
            update_time
        )VALUES(#{courseId},#{sectionName},#{description},#{orderNum},
        #{status},#{createTime},#{updateTime})
    </update>
    <!--更新 章节信息-->
    <update id="updateSection" parameterType="com.lagou.entity.CourseSection">
        UPDATE course_section
        <trim prefix="SET" suffixOverrides=",">
            <if test="sectionName != null and sectionName != ''">
                section_name = #{sectionName},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="orderNum != null and orderNum != '' or orderNum == 0">
                order_num = #{orderNum},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
            <if test="id != null and id != '' ">id = #{id}</if>
        </where>
    </update>
    <!--修改课程状态-->
    <update id="updateSectionStatus" parameterType="com.lagou.entity.CourseSection">
        update course_section
        set
            status=#{status},
            update_time=#{updateTime}
        where id = #{id}
    </update>
    <!--新增 课时-->
    <update id="saveLession" parameterType="com.lagou.entity.CourseLesson">
        insert into course_lesson(
            course_id,
            section_id,
            theme,
            duration,
            is_free,
            create_time,
            update_time,
            order_num
        )values(
            #{courseId},#{sectionId},#{theme},#{duration},#{isFree},#{createTime},#{updateTime},#{orderNum}
        )
    </update>
    <update id="updateLession" parameterType="com.lagou.entity.CourseLesson">
        update course_lesson
        <set>
            <if test="courseId != null">
                course_id=#{courseId},
            </if>
            <if test="sectionId != null">
                section_id=#{sectionId},
            </if>
            <if test="theme != null and theme != ''">
                theme=#{theme},
            </if>
            <if test="duration != null">
                duration=#{duration},
            </if>
            <if test="isFree != null">
                is_free=#{isFree},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="orderNum != null">
                order_num=#{orderNum},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateLessonStatus" parameterType="com.lagou.entity.CourseLesson">
        update course_lesson
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>


    <!--根据 课程Id 获取 课时及章节信息-->
    <select id="findSectionAndLessonByCourseId" resultMap="BaseResultMap">
        SELECT
        cs.*,
        <include refid="lesson_column_list"/>
        FROM course_section cs LEFT JOIN course_lesson cl ON cs.id = cl.section_id
        WHERE cs.course_id = #{courseId} ORDER BY cs.order_num ;
    </select>
    <select id="findCourseByCourseId" resultType="com.lagou.entity.Course">
        select id,course_name from course where id=#{courseId};
    </select>
    <!-- 课时表字段信息 -->
    <sql id="lesson_column_list">
        cl.id as lessonId,
        cl.course_id,
        cl.section_id,
        cl.theme,
        cl.duration,
        cl.is_free,
        cl.order_num,
        cl.status lesson_status
    </sql>
</mapper>
